<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>N</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAi8v6Ahh_ZWnUE517FJYL4bojwnAcl0IA&sensor=false"></script>
    <script type="text/javascript" src="add-on/jquery/jquery-1.9.1.min.js"></script>
    <!--
    <script type="text/javascript" src="add-on/timemap.2.0.1/lib/jquery-1.6.2.min.js"></script>
  -->
    <script type="text/javascript" src="add-on/template/template.js"></script>
    <script type="text/javascript" src="add-on/timemap.2.0.1/lib/mxn/mxn.js?(googlev3)"></script>

    <script type="text/javascript" src="add-on/timemap.2.0.1/lib/timeline-2.3.0-debug.js"></script>
    <!--
    <script type="text/javascript" src="add-on/timemap.2.0.1/lib/timeline-2.3.0.js"></script>
  -->
    <script src="add-on/timemap.2.0.1/src/timemap.js" type="text/javascript"></script>
    <script src="add-on/timemap.2.0.1/src/manipulation.js" type="text/javascript"></script>
    <script src="js/my-extend.js" type="text/javascript"></script>
    <script src="js/TimeSpaceObj.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	<body>
    <div id="title_block" class="title_block" style="display:none;">
      <div id="title_box" class="title_box">I'm the title box.</div>
    </div>

		<div id="timemap" class="timemap-container">

      <div id="timelinecontainer" class="timeline-container">

        <ul class="ops timeline-ops">
          <li id="timeline-in" class="op" ntitle="zoom in">
            <i class="icon-zoom-in"></i>
          </li>
          <li id="timeline-out" class="op" ntitle="zoom out">
            <i class="icon-zoom-out"></i>
          </li>
          <form id="time-vals-in" class="vals-in">
            <li id="timeline-select" class="op disabled" ntitle="select a period on timeline">
              <i class="icon-edit"></i>
            </li>
            <li id="timeline-select-ok" class="op disabled" ntitle="use the selected zone">
              <i class="icon-ok"></i>
            </li>
          </form>
        </ul>

        <div id="timeline" class="timeline"></div>
      </div>

      <div id="mapcontainer" class="map-container">

        <ul class="ops map-ops">
          <li id="create-obj" class="op" ntitle="create a TimeSpace Object">
            <i class="icon-pencil"></i>
          </li>
          <form id="space-vals-in" class="vals-in">
            <input name="name" type="text" class="val-in" placeholder="Name" />
            <select name="type" id="" class="val-in" disabled="disabled">
              <option value="0">Type</option>
              <option value="1">Point</option>
              <option value="2">Line</option>
              <option value="3">Border</option>
              <option value="4">Polygon</option>
            </select>
            <li id="map-select" class="op disabled" ntitle="select a zone on map">
              <i class="icon-edit"></i>
            </li>
            <li id="map-select-ok" class="op disabled" ntitle="use the selected zone">
              <i class="icon-ok"></i>
            </li>
            <li id="obj-create-ok" class="op disabled" ntitle="save the obj">
              <i class="icon-save"></i>
            </li>
          </form>
        </ul>

        <div id="map" class="map"></div>
      </div>
    
    </div>

    <div class="side-container">
      <ul id="objs" class="objs">

        <script id="info-template" type="text/html">
          <% if (typeof info === "string" || typeof info === "number") { %>
          <p class="cnt val"><%=info%></p>
          <% } else if (isArray(info)) {%>
            <% if (info.length > 0) { %>
              <ul class="cnt">
              <% for (var i=0;i<info.length;i++) { %>
                <li class="array-list-<%=i+1%>">
                <h4 class="ttl">
                  <%=i+1%>
                  <% if (isArray(info[i])) { %>
                    (<%=info[i].length%>)
                  <% } %>
                  <span class="more-mark">+</span><span class="no-more-mark">-</span>
                </h4>
                <% include("info-template", {info: info[i]}) %>
                </li>
              <% } %>
              </ul>
            <% } else { %>
              <p class="cnt val">None</p>
            <% } %>
          <% } else if (typeof info === "object") {%>
            <ul class="cnt">
            <% for (var key in info) { %>
              <li>
              <h4 class="ttl">
                <%=key%>
                <% if (isArray(info[key])) { %>
                  (<%=info[key].length%>)
                <% } %>
                <span class="more-mark">+</span><span class="no-more-mark">-</span>
              </h4>
              <% if (key == "type") { %>
                <% include("info-template", {info: getSpaceType(info[key])}) %>
                <% }else{ %>
                <% include("info-template", {info: info[key]}) %>
                <% } %>
              <% } %>
              </li>
            </ul>
          <% } %>
        </script>
        <script id="obj-template" type="text/html">

        <li class="obj">
          <div class="head" name="name"><%=name%></div>
          <div class="body">
            <ul class="infos">
              <li class="info"><strong>name: </strong><span class="name val"><%=name%></span></li>
              <li class="info">
                <h4 class="ttl">space-zones (<%=spaceZone.zones.length%>) <span class="more-mark">+</span><span class="no-more-mark">-</span></h4>
                <% include("info-template", {info: spaceZone.zones}) %>
              </li>
              <li class="info">
                <h4 class="ttl">time-zones (<%=timeZone.zones.length%>) <span class="more-mark">+</span><span class="no-more-mark">-</span></h4>
                <% include("info-template", {info: timeZone.zones}) %>
              </li>
              <li class="info">
                <h4 class="ttl">tags (<%=tags.length%>) <span class="more-mark">+</span><span class="no-more-mark">-</span></h4>
                <% include("info-template", {info: tags}) %>
              </li>
            </ul>
          </div>
        </li>        

        </script>
      </ul>
    </div>
    
	</body>
  <script type="text/javascript" src="js/dataset.js"></script>
  <script type="text/javascript" src="js/config.js"></script>
  <script type="text/javascript" src="js/timeline-op.js"></script>
  <script type="text/javascript" src="js/map-op.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</html>