body{font-family:"Microsoft Yahei",Arial;}
div#timemap{padding:1em;}
div#timelinecontainer{width:100%;height:200px;}
div#timeline{width:100%;height:100%;height:200px;font-size:12px;background:#CCCCCC;}
div#mapcontainer{width:100%;height:400px;}
div#map{width:100%;height:100%;background:#EEEEEE;}
.map-select-btn{position:fixed;right:5%;top:5%;z-index:100;padding:10px 15px;font-size:14px;background-color:#fff;color:#333;cursor:pointer;}.map-select-btn:active{background-color:#f0f0f0;}
